/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: white;
}
/* ===============
Banner Section CSS
==================*/

.banner-container{
    background-color: #2D25A0;
    height: 677px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-left-content{
    width: 75%;
    padding-left: 116px;
    padding-top: 207px;
}
.banner-left-content h1{
    color: white;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin: 0px;
    padding-bottom: 27px;
}
.banner-left-content a{
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

}
.banner-left-content i{
 padding-left: 10px;
}

.banner-right-content {
    width: 50%;
    padding: 153px 120px 86px 40px;
}
.banner-right-content img{
  width: 556px;
  height: 438px;
}
/* =================
Pluse hover animation
====================*/

@keyframes img-pulse {
    50% {
      transform:scale(0.9);
    }
    100% {
      transform:scale(1.0);
    }
  }
  .img-pulse:hover {
      animation-name: img-pulse;
      animation-duration: 0.9s;
      animation-timing-function: ease-out;
      animation-iteration-count:infinite;
      animation-direction:reverse;
    }
    /* ================
    article Section CSS
 =================== */

.blog-container{
    padding-top: 70px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 150px;
    margin-right: 145px;
    column-gap: 30px;
    row-gap: 27px;
}
.blog-content {
    width: 330px;
    height: 474px;
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
}
.blog-content:hover{
    box-shadow: 3px 3px 3px 3px gray;
}
.blog-content img{
    width: 300px;
    height: 256px;
    padding: 15px 15px 10px 15px;
}
.blog-content h3{
    padding-left: 15px;
    font-weight: 700;
    font-size: 28px;
    color: #0f132b;
    margin: 0;
}
.blog-content p{
    padding: 15px;
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
    margin-top: -5px;
}

/* ================
photo gallery css
=================== */


.gallery-container {
    background-color: #2D25A0;
    margin: 50px 0px;
    padding-bottom: 40px;
}

section.gallery-container h3 {
    text-align: center;
    padding: 27px 0px;
    color: #fff;
    font-size: 30px;
}

.photo-album{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.photo-frame{
    width: 300px;
    height: 200px;
    border: 2px solid lightskyblue;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.photo img{
    width: 100%;
    border-radius: 15px;
}

.photo-frame:hover .photo{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}


/* ==================
Recent Blog Post CSS
===================== */
.news-blog h1{
    font-weight: 700;
    font-size: 46px;
    color: #0f132b;
    text-align: center;
}
.news-container{
    padding-top: 70px;
}
.news{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    column-gap: 50px;
    row-gap: 30px;
}
.news-content {
    width: 560px;
    height: 180px;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 2px 1px gray;
}
.news-content:hover{
    box-shadow: 3px 3px 3px 3px gray;
}
.blog-details{
    display: flex;
    flex-direction: column;
}
.news-content img{
    width: 120px;
    height: 120px;
    padding: 15px 15px 10px 15px;
}
.news-content h3{
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 28px;
    color: #0f132b;
    margin: 0;
}
.news-content p{
    padding: 15px;
    margin: 0;
    font-size: 16px;
    color: #6C6C6C;
    text-align: justify;
    margin-top: -5px;
}

/* ================
highlights Section CSS 
=================== */

section.highlighs-container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0;
}

.highlight-content h2 {
    font-size: 40px;
    margin: 10px 0;
}

.highlight-content {
    margin-top: 50px;
}

.highlight-content p {
    font-size: 16px;
    margin-bottom: 40px;
    padding-right: 20px;
    text-align: justify;
}

.highlight-content a{
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

}
.highlight-content i{
 padding-left: 10px;
}

.video-area img {
    width: 100%;
}


/* ================
Footer Section CSS 
=================== */

.footer-logo{
    text-align: center;
}
.footer-logo img{
    height: 110px;
    padding-top: 40px;
}

/* fontawesome icon css */

ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding-left: 0px;
}
ul li{
    display: flex;
    padding: 5px;
}
ul li a{
    text-decoration: none;
    color: #969BAB;
    font-size: 20px;
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
}
ul li a:hover{
    color: #2D25A0;
}

/* copyright css */

.copyright p{
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}





/* =========================
Mobile Responsive Section
============================*/

/* Banner Section */

@media only screen and (max-width: 688px) {
    .banner-container{
        background-color: #2D25A0;
        height: 695px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-left-content{
        width: 60%;
        padding-left: 16px;
        padding-top: 112px;
        padding-right: 66px;
    }
    .banner-left-content h1{
        color: white;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        margin: 0px;
        padding-bottom: 27px;
    }
    .banner-left-content a{
        width: 168px;
        height: 44px;
        padding: 10px 24px 10px 24px;
        background-color: #E02C6D;
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    
    }
    .banner-left-content i{
     padding-left: 10px;
    }
    
    .banner-right-content {
        width: 40%;
        padding-top: 50px;
        display: flex;
    }
    .banner-right-content img {
        width: 250px;
        height: 200px;
        margin: 0px -16px -50px -16px;
    }
}

/* article Section */

@media only screen and (max-width: 688px) {
    .blog-container{
        padding-top: 47px;
    }
    .blog{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-gap:30px;
    }
    .blog-content {
        width: 300px;
        height: 474px;
        background-color: white;
        box-shadow: 0px 0px 2px 1px gray;
        margin-right: 10px;
    }

    .blog-content img {
        width: 270px;
        height: 200px;
        padding: 15px 15px 10px 15px;
    }
}

/* Recent Blog Post */

@media only screen and (max-width: 688px) {
    .news-blog h1{
        font-size: 26px;
    }
    .news-container{
        padding-top: 70px;
    }
    .news{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .news-content {
        width: 91%;
        height: 200px;
        margin-left: 15px;
    }
    .blog-details{
        display: flex;
        flex-direction: column;
    }
    .news-content img{
        width: 85px;
        height: 88px;
        padding: 15px 15px 10px 10px;
    }
    .news-content h3{
        padding-top: 5px;
        padding-left: 0px;
        padding-bottom: 13px;
        font-size: 20px;
        margin: 0;
    }
    .news-content p{
        padding-left: 0;
        padding-right: 10px;
        margin: 0;
        font-size: 12px;
        margin-top: -28px;
        line-height: 1.ch;
    }
}

/* Players gallery */

@media only screen and (max-width: 688px) {


    .gallery-container {
        background-color: #2D25A0;
        margin: 50px 0px;
        padding-bottom: 40px;
    }
    
    section.gallery-container h3 {
        text-align: center;
        padding: 27px 0px;
        color: #fff;
        font-size: 30px;
    }
    
    .photo-album{
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
    }
    .photo-frame{
        width: 300px;
        height: 200px;
        border: 2px solid lightskyblue;
        border-radius: 15px;
        position: relative;
        margin: 10px;
        overflow: hidden;
    }
    .photo img{
        width: 100%;
        border-radius: 15px;
    }
    
    .photo-frame:hover .photo{
        transform: scale(1.5);
        transition: transform 2s ease-in-out;
    }

}


/* highlights */

@media only screen and (max-width: 688px) {

    section.highlighs-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }


    .highlight-content {
        margin-bottom: 50px;
    }
    
    .highlight-content h2 {
        font-size: 40px;
        margin: 10px 0;
    }
    
    .highlight-content {
        margin-top: 50px;
    }
    
    .highlight-content p {
        font-size: 16px;
        margin-bottom: 40px;
        padding-right: 20px;
        text-align: justify;
    }
    
    .highlight-content a{
        width: 168px;
        height: 44px;
        padding: 10px 24px 10px 24px;
        background-color: #E02C6D;
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    
    }
    .highlight-content i{
     padding-left: 10px;
    }
    
    .video-area img {
        width: 100%;
    }

    .footer-logo img {
        width: 300px;
        padding-top: 40px;
    }

}

/* =========================
Tablet Responsive Section
============================*/

/* Banner Section */

@media only screen and (min-width: 688px) and (max-width:992px){
    .banner-container{
        height: 430px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-left-content{
        width: 75%;
        padding-left: 50px;
        padding-top: 112px;
        padding-right: 66px;
    }
    .banner-left-content h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        margin: 0px;
        padding-bottom: 27px;
    }
    .banner-left-content a{
        width: 168px;
        height: 44px;
        padding: 10px 24px 10px 24px;
    }
    .banner-left-content i{
     padding-left: 10px;
    }
    
    .banner-right-content {
        width: 40%;
        padding-top: 90px;
        display: flex;
    }
    .banner-right-content img {
        width: 329px;
        height: 260px;
        margin: 0px -90px -80px -16px;
    }
}

/* article Section */

@media only screen and (min-width: 688px) and (max-width:992px){
    .blog-container{
        padding-top: 47px;
    }
    .blog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-gap:30px;
    }
}

/* Recent Blog Post */

@media only screen and (min-width: 688px) and (max-width:992px){

    .news-blog h1{
        font-size: 36px;
    }
    .news-container{
        padding-top: 70px;
    }
    .news{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
        padding-left: 18px;
    }
    .news-content {
        width: 345px;
        height: 115px;
        margin-left: 7px;
    }

    .blog-details{
        display: flex;
        flex-direction: column;
    }
    .news-content img{
        width: 85px;
        height: 88px;
        padding: 15px 15px 10px 15px;
    }
    .news-content h3{
        padding-top: 5px;
        padding-left: 0px;
        font-size: 20px;
        margin: 0;
    }
    .news-content p{
        padding-left: 0;
        padding-right: 10px;
        margin: 0;
        font-size: 12px;
        margin-top: -28px;
        line-height: 1.ch;
    }
}
/* Players gallery */

@media only screen and (min-width: 688px) and (max-width:992px){

    .gallery h1{
        font-weight: 700;
        font-size: 36px;
        color: white;
        text-align: center;
        padding-top: 25px;
    }
    
    .gallery{
        height: 350px;
        background-color: #2D25A0;
    }
    
    .test{
        height: 94px;
        width: 164px;
        background-color: aliceblue;
    }
    .first-row {
        display: flex;
        justify-content: space-evenly;
        padding-left: 58px;
        padding-right: 58px;
    }
    .first-row img {
        width: 100px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 3px;
    }
    .second-row{
        display: flex;
        justify-content: space-evenly;
        padding-left: 58px;
        padding-right: 58px;
        padding-top: 20px;
    }
    .second-row img{
        width: 100px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 3px;
    }
    .footer-logo img {
        height: 65px;
        padding-top: 40px;
        padding-right: 35px;
    }
}